<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>邮件模板</title>
</head>
<body>
    你好，感谢您的注册，这个一封验证邮件，请点击下面的链接完成注册，感谢您的支持  <br/>
    <a href="#" th:href="@{http://ityoukonw.com/register/{id}(id=${id})">激活账户</a>
</body>
</html>